<table class="ui celled table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Endereço</th>
            <th>Duração</th>
            <th>Capacidade</th>
            <th>Imagem</th>
            <th>Valor do Ingresso Infantil</th>
            <th>Valor do Ingresso Adulto</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% @atrativos.each do |a| %>
            <tr>
                <td><%= a.nome %></td>
                <td><%= a.endereco %></td>
                <td><%= a.duracao %></td>
                <td><%= a.capacidade %></td>
                <td><%= a.imagem %></td>
                <td><%= a.ingresso_crianca %></td>
                <td><%= a.ingresso_adulto %></td>
                <td><a href="<%= pj_atrativo_url(a.pj_id, a.id) %>" class="ui primary button">Visualizar</a></td>
                <td><a href="<%= edit_pj_atrativo_url(a.pj_id, a.id) %>" class="ui primary button">Editar</a></td>
                <%= form_tag pj_atrativo_url(a.pj_id, a.id), method: :delete do %>
                    <td><%= button_tag "Excluir", class: "ui primary button" %></td>
                <% end %>
            </tr>
        <% end %>
    </tbody>
</table>
