<div class="ui container">
    <%= form_for @atrativo, url: {action: "create"}, html: {class: "ui form"} do |f| %>
      <%= label_tag(:nome, "Nome: ") %>
      <%= f.text_field :nome %>
      <%= label_tag(:endereco, "Endereço: ") %>
      <%= f.text_field :endereco %>
      <%= label_tag(:duracao, "Duração (em minutos): ") %>
      <%= f.number_field :duracao, min: 1 %>
      <%= label_tag(:capacidade, "Capacidade máxima: ") %>
      <%= f.number_field :capacidade, min: 1 %>
      <%= label_tag(:imagem, "Imagem (URL): ") %>
      <%= f.text_field :imagem %>
      <%= label_tag(:ingresso_crianca, "Valor do ingresso infantil: ") %>
      <%= f.number_field :ingresso_crianca, min: 0.01, step: 0.01 %>
      <%= label_tag(:ingresso_adulto, "Valor do ingresso adulto: ") %>
      <%= f.number_field :ingresso_adulto, min: 0.01, step: 0.01 %>
      <%= f.submit "Cadastrar", class: "ui primary button" %>
    <% end %>
</div>