<%= render "/layouts/menu" %>

<div class="ui segment">
    <%= form_for @atrativo, url: {action: "create"}, html: {class: "ui form"} do |f| %>
      <div class="ui field">
      <%= label_tag(:nome, "Nome: ") %>
      <%= f.text_field :nome, required: true %>
      </div>
      <div class="ui field">
      <%= label_tag(:endereco, "Endereço: ") %>
      <%= f.text_field :endereco, required: true %>
      </div>
      <div class="ui field">
      <%= label_tag(:duracao, "Duração (em minutos): ") %>
      <%= f.number_field :duracao, min: 1, required: true %>
      </div>
      <div class="ui field">
      <%= label_tag(:capacidade, "Capacidade máxima: ") %>
      <%= f.number_field :capacidade, min: 1, required: true %>
      </div>
      <div class="ui field">
      <%= label_tag(:imagem, "Imagem (URL): ") %>
      <%= f.text_field :imagem, required: true %>
      </div>
      <div class="ui field">
      <%= label_tag(:ingresso_crianca, "Valor do ingresso infantil (R$): ") %>
      <%= f.number_field :ingresso_crianca, min: 0.01, step: 0.01, required: true %>
      </div>
      <div class="ui field">
      <%= label_tag(:ingresso_adulto, "Valor do ingresso adulto (R$): ") %>
      <%= f.number_field :ingresso_adulto, min: 0.01, step: 0.01, required: true %>
      </div>
      <div class="ui field">
        <button class="ui primary button">
          <i class="map icon"></i>
          Cadastrar Atrativo
        </button>
      </div>
    <% end %>
</div>