<%= render "/layouts/menu" %>

<div class="ui segment">
    <form class = "ui form">
      <h2 class="ui header">Suas informações</h2>
      <%= label_tag(:cnpj, "CNPJ: ") %>
      <%= text_field :cnpj, "", value: @pj.cnpj, disabled: true %>
      <%= label_tag(:razao_social, "Razão Social: ") %>
      <%= text_field :razao_social, "", value: @pj.razao_social, disabled: true %>
      <%= label_tag(:nome_fantasia, "Nome Fantasia: ") %>
      <%= text_field :nome_fantasia, "", value: @pj.nome_fantasia, disabled: true %>
      <%= label_tag(:email, "E-mail: ") %>
      <%= text_field :email, "", value: @pj.email, disabled: true %>
    </form>
</div>
