<%= render "/layouts/menu" %>

<div class="ui segment">
    <%= form_for @entrada, url: {action: "create"}, html: {class: "ui form"} do |f| %>
      <div class="ui field">
      <%= label_tag(:tipo, "Tipo: ") %>
      <select class="ui selection dropdown" id="entrada_tipo" name="entrada[tipo]">
        <option value="" hidden></option>
        <option value="adulto">Adulto</option>
        <option value="infantil">Infantil</option>
      </select>
      </div>
      <div class="ui field">
      <%= label_tag(:data, "Data: ") %>
      <%= f.date_field :data %>
      </div>
      <div class="ui field">
      <button class="ui primary button">
          <i class="ticket icon"></i>
          Cadastrar Entrada
        </button>
      </div>
    <% end %>
</div>