<div class="ui container">
    <form class = "ui form">
      <%= label_tag(:tipo, "Tipo: ") %>
      <%= text_field :tipo, "", value: @entrada.tipo, disabled: true %>
      <%= label_tag(:data, "Data: ") %>
      <%= text_field :data, "", value: @entrada.data, disabled: true %>
      <%= label_tag(:atrativo, "Vinculado à: ") %>
      <%= text_field :atrativo, "", value: @atrativo.nome, disabled: true %>
    </form>
</div>