<%= render "/layouts/menu" %>

<div class="ui segment">
    <h2 class="ui centered header">Listagem de Funcionários</h2>
    <table class="ui very compact celled table">
        <thead>
            <tr>
                <th class="center aligned">CPF</th>
                <th class="center aligned">Nome</th>
                <th class="center aligned">Cargo</th>
                <th class="center aligned">E-mail</th>
                <th class="center aligned">Status</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% @funcionarios.each do |f| %>
                <tr>
                    <td><%= f.cpf %></td>
                    <td><%= f.nome %></td>
                    <td><%= f.cargo %></td>
                    <td><%= f.email %></td>
                    <td><%= if f.esta_ativa then "Ativo" else "Inativo" end %></td>
                    <td class="center aligned">
                        <a href="<%= pj_funcionario_url(f.pj_id, f.id) %>" class="ui blue button">
                            <i class="user icon"></i>
                            Visualizar</a></td>
                    <td class="center aligned">
                        <a href="<%= edit_pj_funcionario_url(f.pj_id, f.id) %>" class="ui orange button">
                            <i class="edit icon"></i>
                            Editar</a></td>
                    <%= form_tag pj_funcionario_url(f.pj_id, f.id), method: :delete do %>
                        <% if f.esta_ativa %>
                            <td class="center aligned"><button name="button" class="ui red button">
                                <i class="user times icon"></i>
                                Desativar</button></td>
                        <% else %>
                            <td class="center aligned"><button name="button" class="ui green button">
                                <i class="user plus icon"></i>
                                Reativar</button></td>
                        <% end %>
                    <% end %>
                </tr>
            <% end %>
        </tbody>
        <tfoot class="full-width">
            <tr>
                <th></th>
                <th colspan="7">
                    <a 
                    href="<%= new_pj_funcionario_url(session[:pj_id]) %>" 
                    class="ui right floated small blue labeled icon button">
                        <i class="user plus icon"></i> 
                        Adicionar Funcionário</a>
              </th>
            </tr>
        </tfoot>
    </table>
</div>