<%= render "/layouts/menu" %>

<div class="ui segment">
    <%= form_for @funcionario, url: {action: "create"}, html: {class: "ui form"} do |f| %>
      <div class="ui field">
      <%= label_tag(:cpf, "CPF: ") %>
      <%= f.text_field :cpf, size: 11, maxlength: 11, pattern:"[0-9]{11}", required: true %>
      </div>
      <div class="ui field">
      <%= label_tag(:nome, "Nome: ") %>
      <%= f.text_field :nome, required: true %>
      </div>
      <div class="ui field">
      <%= label_tag(:cargo, "Cargo: ") %>
      <%= f.text_field :cargo, required: true %>
      </div>
      <div class="ui field">
      <%= label_tag(:email, "E-mail: ") %>
      <%= f.text_field :email, required: true %>
      </div>
      <div class="ui field">
      <%= label_tag(:senha, "Senha: ") %>
      <%= f.password_field :senha, required: true %>
      </div>
      <%= f.hidden_field :esta_ativa, value: true %>
      <div class="ui field">
        <button class="ui primary button">
          <i class="user plus icon"></i>
          Cadastrar Funcionário
        </button>
      </div>
    <% end %>
</div>
