<div class="ui container">
    <form class = "ui form">
      <%= label_tag(:cpf, "CPF: ") %>
      <%= text_field :cpf, "", value: @funcionario.cpf, disabled: true %>
      <%= label_tag(:nome, "Nome: ") %>
      <%= text_field :nome, "", value: @funcionario.nome, disabled: true %>
      <%= label_tag(:cargo, "Cargo: ") %>
      <%= text_field :cargo, "", value: @funcionario.cargo, disabled: true %>
      <%= label_tag(:email, "E-mail: ") %>
      <%= text_field :email, "", value: @funcionario.email, disabled: true %>
      <%= label_tag(:pj, "Vinculado à: ") %>
      <%= text_field :pj, "", value: @pj.nome_fantasia, disabled: true %>
    </form>
</div>
